/* #DFF6FF
#5D8BF4
 #2D31FA
 #051367 */





* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 40px;
    background-color: #DFF6FF;
}

/* Baliho */

.baliho {
    display: grid;
    grid-template-areas: 
    'hero hero hero-cctv'
    'hero hero hero-ap';
}

.hero {
    grid-area: hero;
    display: grid;
    background-image: url(img/Home_Security_Systems-2573016189.jpeg);
    min-height: 300px;
    background-size: cover;
    background-position: center;
    place-content: center;
    color: #051367;
}

.subhero {
    display: grid;
    color: white;
    place-content: center;
}

.hero-cctv {
    background-image: url(img/sacha-t-sas-mVPkezDvRy8-unsplash.jpg);
    grid-area: hero-cctv;
    background-size: cover;
    background-position: center;
}

.hero-ap {
    background-image: url(img/compare-fibre-hXVVNB6Qctg-unsplash.jpg);
    grid-area: hero-ap;
    background-size: cover;
    background-position: center;
}

/* Navbar */

.logo {
    
}

.menu {
    background-color: #051367;
}





footer {
    background-color: #DFF6FF;
    color: #5D8BF4;
}